<ng-container *ngIf="vm$ | async as vm">
	<div class="table-footer border-top px-2" [ngClass]="{ 'd-none': !vm.showPagination }">
	  <div class="d-flex align-items-center">
		<span class="label-regular me-2">Filas</span>
		<select
		  class="form-control form-select"
		  [ngModel]="vm.pageSize"
		  (ngModelChange)="onChangePageSize($event)"
		>
		  <option *ngFor="let size of vm.pageSizes" [ngValue]="size">
			{{ size }}
		  </option>
		</select>
	  </div>
	  <div class="content-pagination">
		<span class="label-regular">
		  {{ vm.from }} a {{ vm.to }} de {{ vm.totalItems }} registros
		</span>
		<ngb-pagination
		  [maxSize]="3"
		  [rotate]="true"
		  [ellipses]="false"
		  [collectionSize]="vm.totalItems"
		  [page]="vm.page"
		  [pageSize]="vm.pageSize"
		  (pageChange)="onChangePaginate($event)"
		>
		  <ng-template ngbPaginationPrevious>
			<span class="feather icon-chevron-left"></span>
		  </ng-template>
		  <ng-template ngbPaginationNext>
			<span class="feather icon-chevron-right"></span>
		  </ng-template>
		</ngb-pagination>
	  </div>
	</div>
  </ng-container>